body * {
  border: 1px;
  padding: 5px;
}

body {
  background-image: url("image3.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
}

#BinaWisata {
  font-size: 200%;
  font-weight: bolder;
}

#header {
  display: flex;
  background-color: wheat;
}

#HeaderButtons {
  display: flex;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  border: 1px solid gray;
}

a:hover {
  background-color: cyan;
}

a {
  background: pink;
  height: fit-content;
  width: fit-content;
  border: 1px solid gray;
}

#main {
  height: 1000px;
}

h1 {
  text-align: center;
}

#mainimg {
  width: 40%;
  height: 40%;
}

#BinaWisata {
  font-size: 200%;
  font-weight: bolder;
}

#header {
  display: flex;
  background-color: wheat;
}

a:hover {
  background-color: cyan;
}

a {
  background: pink;
  height: fit-content;
  width: fit-content;
  border: 1px solid gray;
}

#main {
  height: 1000px;
}
#BinaWisata {
  font-size: 250%;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

#header {
  display: flex;
  background-color: wheat;
}

#HeaderButtons {
  display: flex;
  margin-left: auto;
}

.menu {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

footer {
  font-weight: bold;
}